@media only screen and (max-width:1200px){

}

@media only screen and (max-width:991px){
    
}

@media only screen and (max-width:768px){

    .postContainer{
        width: 100%;
        padding: 20px 0px;
        margin-bottom: 0px;
        box-shadow: none;
        border-bottom: 1px solid #333;
        border-radius: 0px;
    }
    .footer{
        width: 100%;
    }
}

@media only screen and (max-width:574px){

    .homePostContainer{
        padding: 0px;
    }
    
}